body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.content{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg,#08d3d3,#199edb);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content > h2{
    font-size: 60px;
    color: #fff;
    font-weight: 100;
}
.content > .content1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content > .content1 > .login,.register{
    display: block;
    padding: 10px 20px;
    /* background-color: #fff; */
    /* 框内 */
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    border-radius: 8px;
    margin: 0 10px;
    color: #fff;
    font-size: 30px;
    box-shadow: 0 0 15px rgba(4, 27, 53, 0.3);
    transition: 0.2s ease;
}

.content > .content1 > a:hover{
    background: rgb(72, 217, 253);
}